<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="origin">
  <title>{{page.title}}</title>
  {% seo title=false %}
  <meta name="HandheldFriendly" content="True" />
  <meta name="theme-color" content="#5f9ea0">
  <meta name="msapplication-navbutton-color" content="#5f9ea0">
  <meta name="apple-mobile-web-app-status-bar-style" content="#5f9ea0">
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/all.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=IM+Fell+English" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Courgette|Lato:400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico">
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navstyle navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <i class="fa fa-bars"></i>                   
        </button>
        <a class="navbar-brand" href="#">PLEX</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#section1">Introducción</a></li>
            <li><a href="#section2">¿Quienes somos?</a></li>
            <li><a href="#section3">Niveles</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bloques <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#section41">Bloque Azul (1-3)</a></li>
                <li><a href="#section42">Bloque Morado (4-6)</a></li>
                <li><a href="#section43">Bloque Verde (7-9)</a></li>
                <li><a href="#section44">Bloque Cafe (10-12)</a></li>
              </ul>
            </li>
            <li><a href="#section5">Inscripción</a></li>
            <li><a href="#section6">Contacto</a></li>

          </ul>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  {{ content }}
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p><a href="https://sciencefornourishment.github.io/">PLEX - Programa de Lengua Extranjera</a> &copy; 2017<br/> Powered
            by <a href="http://github.com" data-proofer-ignore title="GitHub Pages"><i class="fa fa-github-alt"></i></a>            with <i class="fa fa-heart"></i> </p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
